html {
  background: url(../images/fireball.jpg) no-repeat fixed;
  background-size: cover;
  font-family: "Arial", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 30px auto 10px auto;
  background: lightgray;
}

header {
  display: flex;
  align-content: center;
  p {
    display: none;
  }

  div {
    display: flex;
    flex-direction: column;

    &.logo {
      z-index: 1;
      width: 0;
      margin-top: -25px;

    }
    &.menu {
      margin-top: 40px;
    }

  }

  ul {
    display: flex;
    background: linear-gradient(#292929, #7a7a7a, #292929);
    height: 40px;
    justify-items: center;
    list-style-type: none;
    border-radius: 10px;
    padding-left: 320px;
    margin-left: -15px;
    padding-right: 410px;

    li {
      width: 150px;
      text-align: center;
      height: 100%;
      margin: auto;

      a {
        text-decoration: none;
        color: white;

      }
      div {
        height: 30px;
        padding-top: 10px;

        &:hover {
          background: linear-gradient(#535353, #a1a1a1, #535353);
          color: black;
          font-weight: bold;
        }
      }

    }

  }
}

footer {
  text-align: center;
  background: linear-gradient(#4d4d4d, #808080, #4d4d4d);
  color: white;
  font-size: 11pt;
  height: 30px;
  padding-top: 15px;

}

@media all and (max-width: 640px) {

  body {
    width: 100%;
    margin: 0;

  }

  header {
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 0;
    p {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 20pt;
      font-weight: bolder;
      margin: 10px 0 0 0;
    }
    div {
      display: block;
      width: 100%;

      &.logo {
        display: none;

      }
      &.menu {
        margin-top: 0;

      }

    }

    ul {
      flex-direction: column;
      border-radius: 0;
      padding: 0;
      height: 160px;

      li {
        width: 100%;
        text-align: center;
        height: 40px;
        margin: 0;

      }

    }
  }

}